html, body{
    height: 115%;
}
    header{
        height: 21%;
        background-color: #cccccc;
        display: flex;
        justify-content: space-between;
    }   
        .imagem-logo{
            height: 90%;
        }

            .menu{
                width: 40%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

            }

            .menu-navegaçao{
                display: flex;
                width: 35%;
            }
            

            a{
                text-decoration: none;
                font-size: 182%;  
                color: black;          
            }

            .menu-navegaçao a:hover {
                text-decoration:underline;
                color: rgb(223, 174, 15);
            }

    main{
        height: 64%;
        display: flex;
        justify-content: center;
    }    

        .formulario{
            display: flex;
            height: 100%;
            flex-direction: column;
            width: 60%;
           
        }

        label{
            width: 51%;
            
            font-size: 130%;
        }

        input{
            width: 50%;
            
            height: 4%;
            padding-left: 1%;

        }

        .submit{
            width: 40%;
            align-items: center;
        }
 footer{
        height: 15%;
        background-color: black;
        display: flex;
       
    }       
        .logo-branco{
            height: 100%;
            margin-left: 2%;
            width: 8%;
        }

        .copyright{
            color: white;       
            display: flex;
            align-items: center;   
            width: 75%;    
            justify-content: center    
        }         