html, body{
    height: 150%
    
}
    body{
        
    }   
        .principal{
            background-color: #cccccc;
        }
    
            .banner{
                width: 100%;
            }

            .titulo{
                font-size: 200%;
                text-align: center;
                font-weight: bold;
            }

            .paragrafo{
                font-size: 140%;
                text-align: center;
                margin-top: 2%;
            }   
                .missao{
                    color: red;
                }
            
            
        .beneficios{
            background-color: white;
            margin-left: 2%;
        }               
            h2 {
                font-size: 150%;
                text-align: center;
            }