html, body{
    height: 100%;
}
    header{
        height: 30%;
        background-color: #cccccc;
        display: flex;
        justify-content: space-between;
    }   
        .imagem-logo{
            height: 90%;
        }

            .menu{
                width: 40%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

            }

            .menu-navegaçao{
                display: flex;
                width: 35%;
            }
            

            a{
                text-decoration: none;
                font-size: 200%;  
                color: black;          
            }

            .menu-navegaçao a:hover {
                text-decoration:underline;
                color: rgb(161, 161, 31);
            }
